body {
    margin: 0;
    padding: 0;
    background-color: #272627;
    display: flex;
    justify-content: center; 
    height: 100vh; 
}

div.container {
    margin-top: 40px;
    color: white;
}

h1.titulo1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    
}

hr {
    background-color: blue;
    margin-top: -15px;
    margin-bottom: 20px;
}

input {
    color: white; 
    font-size: 15px; 
    margin-top: 3px; 
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    background-color: #413F47;
}

input.botao {
    background-color: blue;
    display: block; 
    margin: 0, auto; 
    width: 310px;
}