body {
    margin: 0;
    padding: 0;
    background-color: #272627;
    display: flex;
    justify-content: center; 
    height: 100vh; 
}

div.container {
    margin-top: 40px;
    color: white;
}

